.parent, .child, .item{
    display: block;
    padding:50px;
    border: 2px solid darkslateblue;
    width: auto;
    max-width: 500px;
transition: background-color 200ms ease-in;
text-align: center;
}
.parent{
    margin: 0 auto;
}
#name{
display: block;
}
#surname{
    display: block;
}
button{
    display: block;
}